*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lot
*.lof
*.out
*.run.xml
*.synctex.gz
*.toc
*.lol
*.ind
*.idx
*.ilg
*.nlo
*.nls
*.ptc
*.tmp
*.bak
*.backup
*.orig

xdupgthesis_hzy_v1.4_fuhao.aux
xdupgthesis_hzy_v1.4_fuhao.bbl
xdupgthesis_hzy_v1.4_fuhao.bcf
xdupgthesis_hzy_v1.4_fuhao.blg
xdupgthesis_hzy_v1.4_fuhao.fls
xdupgthesis_hzy_v1.4_fuhao.log
xdupgthesis_hzy_v1.4_fuhao.lot
xdupgthesis_hzy_v1.4_fuhao.lof
xdupgthesis_hzy_v1.4_fuhao.out
xdupgthesis_hzy_v1.4_fuhao.run.xml
xdupgthesis_hzy_v1.4_fuhao.synctex.gz
xdupgthesis_hzy_v1.4_fuhao.toc

xdupgthesis_hzy_v1.5_shiyan.aux
xdupgthesis_hzy_v1.5_shiyan.bbl
xdupgthesis_hzy_v1.5_shiyan.bcf
xdupgthesis_hzy_v1.5_shiyan.blg
xdupgthesis_hzy_v1.5_shiyan.fls
xdupgthesis_hzy_v1.5_shiyan.log
xdupgthesis_hzy_v1.5_shiyan.lot
xdupgthesis_hzy_v1.5_shiyan.lof
xdupgthesis_hzy_v1.5_shiyan.out
xdupgthesis_hzy_v1.5_shiyan.run.xml
xdupgthesis_hzy_v1.5_shiyan.synctex.gz
xdupgthesis_hzy_v1.5_shiyan.toc

xdupgthesis_template.aux
xdupgthesis_template.bcf
xdupgthesis_template.fls
xdupgthesis_template.log
xdupgthesis_template.lot
xdupgthesis_template.lof
xdupgthesis_template.out
xdupgthesis_template.run.xml
xdupgthesis_template.synctex.gz
xdupgthesis_template.toc

*.pdf
*.ps
*.dvi

.DS_Store
Thumbs.db

~$*
~$$*
